<div id="shoes">

    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/40/dd/87/40dd8719dab9f9d7758901e9766f53f9.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 200dt</mat-card-title>
            <mat-card-subtitle>Shoes</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/shoes']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/17/d7/00/17d700de397ec66fe11614ca519ce18d.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 100dt</mat-card-title>
            <mat-card-subtitle>Shoes</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/shoes']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/6f/b0/18/6fb018e069002c9decbe02bf6e3c4652.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title>  150dt</mat-card-title>
            <mat-card-subtitle>Shoes</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/shoes']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>


    </div>
