<div id="dress">
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/736x/16/60/fc/1660fc41326065bf434d9a6a845ce89a.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 100dt</mat-card-title>
            <mat-card-subtitle>Robe</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/dress']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button (click)="addToCart()"><mat-icon>panier</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/236x/70/47/9b/70479be704b17888b41a8cd7b3ef40cd.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title>120dt</mat-card-title>
            <mat-card-subtitle>Robe</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/dress']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon >panier</mat-icon><a href=""(click)="addToCart()">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/736x/cc/fd/f3/ccfdf3b78ccfa3f07a59c576704225ad.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 150dt</mat-card-title>
            <mat-card-subtitle>Robe</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/dress']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>panier</mat-icon><a href=""(click)="addToCart()">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    </div>
