<div id="jacket">

    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/fe/3f/fe/fe3ffea8adbac91ac7279657e9ee4dcf.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 200dt</mat-card-title>
            <mat-card-subtitle>Jacket</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/jacket']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/4c/fd/ca/4cfdca4046bb1fa2453532ae0615d582.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 150 dt</mat-card-title>
            <mat-card-subtitle>jacket</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/jacket']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/90/04/0e/90040e089223ded5b69e394f08f569a6.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 120dt</mat-card-title>
            <mat-card-subtitle>jacket</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/jacket']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>


    </div>

