

div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


mat-card {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.9);
}


mat-card-header img.im {
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}


mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
}

mat-card-subtitle {
    font-size: 1rem;
    color: #888;
}


mat-card-actions button {
    background-color: #ff6f61;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

mat-card-actions button:hover {
    background-color: #e95a50;
    cursor: pointer;
}

mat-card-actions mat-icon {
    margin-right: 5px;
}


mat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}
