<div id="coat">

    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/474x/32/66/85/3266854f1fd2c4db7a1e7f65c5e8a87c.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 140dt</mat-card-title>
            <mat-card-subtitle>Coat</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/coat']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/736x/6e/4f/13/6e4f133f6eb0aa14a80f91a4c85e9a9b.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 160dt</mat-card-title>
            <mat-card-subtitle>Coat</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/coat']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>
    <mat-card class="f1 ">
        <mat-card-header>
            <img class="im" mat-card-image src="https://i.pinimg.com/736x/23/eb/cc/23ebcc140e4773c443f5204f5fc24b3b.jpg"/>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title> 150dt</mat-card-title>
            <mat-card-subtitle>Robe</mat-card-subtitle>
             </mat-card-content><br/><br>
        <mat-card-actions>
            <a [routerLink]="['/dress']"><button mat-button routerLink="log"><mat-icon>email</mat-icon>service</button></a>
            <button mat-button><mat-icon>web</mat-icon><a href="">acheter</a></button>
        </mat-card-actions>
        
    </mat-card>


    </div>
